<div id="col-browser"><img class="error404" src="{{ asset('img/error_image.jpg') }}" width="200" height="200" alt="" /></div>
<div id="col-text">
  <h1>{{ 'Oops! An error has occurred' }}</h1>
  <h2>{{ 'Please, chech the url and try again.' }}</h2>
</div>
