<table class="together">
  <tr class="tsearch">
    <td>
      <a class="mybutton" href="{{ app.request.uriForPath('/#!/contabilidad/reporteingresos') }}">
        {{ 'Income Report' }}
      </a>
    </td>
    <td>
      <a class="mybutton" href="{{ app.request.uriForPath('/#!/contabilidad/reporteusuarios') }}">
        {{ 'Users Report' }}
      </a>
    </td>
  </tr>
</table>
